body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    margin: 10px auto;
    padding: 20px;
    max-width: 100%;
}
h1 {
    text-align: center;
    font-size: 2em;
}
p,h2 {
    text-align: center;
}
form {
    background-color: gray;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
    color: white;
}
fieldset {
    border: 2px solid black;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 20px;
}
fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    padding: 10px;
}
label:not(.review) {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input:not(.rating) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}
button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: darkgray;
}
.rating {
    margin-right: 10px;
}   